@charset "utf-8";

/* 새글 스킨 (latest) */
.pic_lt {position:relative;margin-bottom:20px;padding:0;width:100%;overflow:hidden}
.pic_lt .lat_title {display:inline-block;background:#26262a;padding:0 20px;line-height:45px;font-size:1.083em;color:#fff}
.pic_lt .lat_title a {color:#fff;display:inline-block;position:relative}

.pic_lt ul:after {display:block;visibility:hidden;clear:both;content:""}
.pic_lt ul {margin:15px -10px 0}
.pic_lt li {float:left;width:25%;padding:0 10px}

.pic_lt li .pic_lt_img {position:relative;width:100%;height:100%}
.pic_lt li .pic_lt_img img {width:100%;height:auto}
.pic_lt li .pic_lt_img:hover .lt_img_link {display:block;width:100%;height:100%;background:rgba(0, 0, 0, 0.7);position:absolute;left:0;top:0;text-align:center}
.pic_lt li .lt_img_link {display:none}
.pic_lt li .lt_img_link span {background:#fff;width:120px;font-size:1.5em;font-weight:bold;height:50px;line-height:28px;text-align:center;border-radius:30px;padding:10px;position:absolute;left:35%;top:45%;right:35%;bottom:45%}
.pic_lt li .lt_img_link i {color:#4b5259}

.pic_lt li .pic_lt_wr {min-height:150px;background:#fff;padding:25px}
.pic_lt li .pic_lt_wr > a {font-size:1.4em;line-height:1.4em;font-weight:bold;margin-right:2px}
.pic_lt li .fa-heart {color:#ff0000}
.pic_lt li .fa-link {width:20px;height:20px;line-height:20px;background:#ceefd8;color:#099530;text-align:center;font-size:1em;border-radius:50px;margin-right:2px;vertical-align:text-bottom;font-weight:normal}
.pic_lt li .fa-lock {display:inline-block;width:20px;line-height:20px;font-size:1em;color:#8a8a8a;background:#e6e6e6;text-align:center;border-radius:50px;font-size:12px}
.pic_lt li .new_icon {display:inline-block;width:20px;line-height:20px;font-size:0.65em;color:#fff;background:#4877ff;text-align:center;border-radius:50px;vertical-align:bottom;margin:0 2px}
.pic_lt li .hot_icon {display:inline-block;width:20px;line-height:20px;font-size:1em;color:#fff;background:#e52955;text-align:center;border-radius:50px;vertical-align:baseline;margin-right:2px;font-weight:normal}
.pic_lt li .fa-caret-right {color:#bbb}


.pic_lt .lt_cmt {color:#fd6240;font-size:1.4em;font-weight:bold;line-height:16px;padding:0 5px;border-radius:3px;white-space:nowrap}
.pic_lt .pic_lt_info {font-size:1.2em;padding:10px 0 5px;margin-top:20px;border-top:1px solid #f0f0f0}
.pic_lt .pic_lt_info .lt_nick {}
.pic_lt .pic_lt_info .profile_img img {border-radius:50%}
.pic_lt .pic_lt_info .lt_date {float:right;display:inline-block;margin-top:5px;color:#888}

@media (max-width:1800px){
	.pic_lt .lat_title {margin:0 15px}
	.pic_lt ul {margin:15px 5px 0}
}
@media (max-width:980px){
	.pic_lt li .pic_lt_wr {padding:15px}
}

@media (max-width:720px){
	.pic_lt li {width:50%;margin-bottom:20px}
	.pic_lt li .pic_lt_wr {min-height:auto}
}

@media (max-width:580px){
	.pic_lt li {width:100%}
}
